/* Style Sheet */

body {
      background-color: #202020;
     }
h1  {
     color: #FFFFFF;
     text-align: center;
     font-family: 'Orbitron', sans-serif;
    }
h2 {
    color: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
   }
p {
   color: #202020;
   font-family: 'Roboto Condensed', sans-serif;
   text-align: left;
   font-size: 120%;
   line-height: 150%;
  }
h3 {
    color: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
   }
h4 {
    color: #202020;
    font-family: 'Orbitron', sans-serif;
   }
h5 {
    color:#FFFFFF;
    font-family: 'Audiowide', cursive;
   }
a {
    color: #202020;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
   }
th {
    color: #202020;
    font-family: 'Orbitron', sans-serif;
   }
b {
  color:#D82B1F;
  }
