/* Style Sheet */

body {
      background-color: #202020;
     }
h1  {
     color: #FFFFFF;
     text-align: center;
     font-family: 'Orbitron', sans-serif;
    }
h2 {
    color: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
   }
p {
   color: #202020;
   font-family: 'Roboto Condensed', sans-serif;
   text-align: left;
   font-size: 120%;
   line-height: 150%;
  }
h3 {
    color: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
   }
h4 {
    color: #202020;
    font-family: 'Orbitron', sans-serif;
   }
h5 {
    color:#FFFFFF;
    font-family: 'Audiowide', cursive;
   }
a {
    color: #202020;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
   }
th {
    color: #202020;
    font-family: 'Orbitron', sans-serif;
   }
b {
  color:#D82B1F;
  }
.site-logo img {
      height: 80px;
  }
.mls-logo img {
      height: 70px;
}
.dropbtn {
    background-color: #3d3b3b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #565454;
}
.button {
  text-align: center;
}

/* NavBar */
.active {
    background-color: #565454;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    text-align: center;
}
